*.ipynb_checkpoints
.checkpoints/
*.pyc
__pycache__/
*.log
.env
.env.local
*.tmp
.vscode/
.idea/
.DS_Store
Thumbs.db
coverage/
htmlcov/
.coverage
dist/
build/
target/
.gradle/
.mypy_cache/
.pytest_cache/
node_modules/
venv/
.venv/
.julia/
zig*/
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.webm